
#wb_header { height: 100px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_main { height: 1142px; padding-bottom: 50px; background-color: transparent; }
#wb_main:before { background: transparent url("../gallery_gen/8fc23cda3b15d548e45faa60616911d2.jpeg") repeat left top; background-size: cover; opacity: 0.35; }
#wb_footer { height: 100px; }
#wb_footer > .wb_cont_bg { background-color: transparent; }
#wb_footer > .wb_cont_bg:before { background: transparent none repeat-x scroll left top; }
html { scroll-behavior: smooth; }
body { background-color: #ffffff; }
body.site:before { background: transparent none repeat-x scroll center top; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x left top; }
body, .wb_sbg { min-width: 992px; min-height: 1342px; }
.wb_cont_inner { width: 992px; }
.wb_cont_bg { width: 992px; margin-left: -496px; }
.root { height: 1290px; min-height: 1342px; }
#wb_element_instance33 { top: 20px; left: 0px; min-width: 990px; width: 990px; min-height: 108px; height: 108px; display: block; z-index: 289; }
#wb_element_instance33 > ul { display: block; }
#wb_element_instance33 ul { background: transparent none repeat right top; border: 1px none #000000; }
#wb_element_instance33, #wb_element_instance33 ul { text-align: center; }
#wb_element_instance33 ul ul { background: #80520c none repeat right top; }
#wb_element_instance33 li { margin: 0px 0px 0px 0px; }
#wb_element_instance33 li a { text-transform: none; border: 0px none #000000; padding: 20px 20px 20px 20px; font: normal normal 12px 'Roboto Slab',Arial,serif; text-decoration: none; color: #ffffff; line-height: 14px; background: transparent none no-repeat center top; }
#wb_element_instance33 li.over > a, #wb_element_instance33 li:focus > a { border: 0px none #000000; font: normal normal 12px 'Roboto Slab',Arial,serif; text-decoration: none; color: #b0e014; line-height: 14px; background: transparent none no-repeat center top; }
#wb_element_instance33 li.active > a { border: 0px none #000000; font: normal normal 12px 'Roboto Slab',Arial,serif; text-decoration: none; color: #f7f0f0; line-height: 14px; background: transparent none no-repeat center center; }
#wb_element_instance33:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance33:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance33:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance34 { top: -1px; left: 0; right: 0; min-height: 102px; height: 102px; display: block; z-index: 73; }
#wb_element_instance34 > .wb_shp:before { background: transparent none repeat scroll center center; background-size: auto auto; opacity: 1; }
#wb_element_instance34 > .wb_shp { background-color: #9e0918; border: 5px none #c0c0c0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 102px; }
#wb_element_instance35 { top: 70px; left: 0px; min-width: 990px; width: 990px; min-height: 73px; height: 73px; display: block; z-index: 163; }
#wb_element_instance36 { top: 190px; left: 120px; min-width: 440px; width: 440px; min-height: 330px; height: 330px; display: block; z-index: 164; touch-action: manipulation; }
#wb_element_instance36 img { width: 430px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance37 { top: 190px; left: 630px; min-width: 441px; width: 441px; min-height: 331px; height: 331px; display: block; z-index: 165; touch-action: manipulation; }
#wb_element_instance37 img { width: 431px; height: 321px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance38 { top: 530px; left: 120px; min-width: 440px; width: 440px; min-height: 330px; height: 330px; display: block; z-index: 166; touch-action: manipulation; }
#wb_element_instance38 img { width: 430px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance39 { top: 530px; left: 630px; min-width: 441px; width: 441px; min-height: 333px; height: 333px; display: block; z-index: 167; touch-action: manipulation; }
#wb_element_instance39 img { width: 431px; height: 323px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance40 { top: 870px; left: 120px; min-width: 440px; width: 440px; min-height: 330px; height: 330px; display: block; z-index: 168; touch-action: manipulation; }
#wb_element_instance40 img { width: 430px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance41 { top: 870px; left: 630px; min-width: 441px; width: 441px; min-height: 331px; height: 331px; display: block; z-index: 169; touch-action: manipulation; }
#wb_element_instance41 img { width: 431px; height: 321px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance42 { top: 1210px; left: 120px; min-width: 440px; width: 440px; min-height: 330px; height: 330px; display: block; z-index: 170; touch-action: manipulation; }
#wb_element_instance42 img { width: 430px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance43 { top: 1210px; left: 630px; min-width: 440px; width: 440px; min-height: 330px; height: 330px; display: block; z-index: 171; touch-action: manipulation; }
#wb_element_instance43 img { width: 430px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance44 { top: 1560px; left: 380px; min-width: 440px; width: 440px; min-height: 330px; height: 330px; display: block; z-index: 172; touch-action: manipulation; }
#wb_element_instance44 img { width: 430px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance45 { top: 20px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance35 p:last-child { margin-bottom: 0; }
#wb_element_instance35 { opacity: 1; }
#wb_element_instance36 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px double #99061c; box-sizing: border-box; overflow: hidden; }
#wb_element_instance37 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px double #99061c; box-sizing: border-box; overflow: hidden; }
#wb_element_instance38 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px double #99061c; box-sizing: border-box; overflow: hidden; }
#wb_element_instance39 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px double #99061c; box-sizing: border-box; overflow: hidden; }
#wb_element_instance40 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px double #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance41 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px double #99061c; box-sizing: border-box; overflow: hidden; }
#wb_element_instance42 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px double #99061c; box-sizing: border-box; overflow: hidden; }
#wb_element_instance43 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px double #99061c; box-sizing: border-box; overflow: hidden; }
#wb_element_instance44 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px double #000000; box-sizing: border-box; overflow: hidden; }


@media (min-width: 768px) {
}

@media (min-width: 1200px) {
	#wb_header { height: 134px; }
	#wb_main { height: 460px; }
	#wb_footer { height: 0px; }
	body, .wb_sbg { min-width: 1200px; min-height: 625px; }
	.wb_cont_inner { width: 1200px; }
	.wb_cont_bg { width: 1200px; margin-left: -600px; }
	.root { height: 2074px; min-height: 625px; }
	#wb_element_instance33 { top: 0px; left: 0px; min-width: 1200px; width: 1200px; min-height: 108px; height: 108px; display: block; }
	#wb_element_instance33 > ul { display: block; }
	#wb_element_instance34 { top: -1px; left: 0; right: 0; min-height: 102px; height: 102px; display: block; }
	#wb_element_instance34 > .wb_shp { width: 100%; height: 102px; }
	#wb_element_instance35 { top: 80px; left: 0px; min-width: 1200px; width: 1200px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance36 { top: 190px; left: 120px; min-width: 440px; width: 440px; min-height: 330px; height: 330px; display: block; }
	#wb_element_instance36 img { width: 430px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance37 { top: 190px; left: 630px; min-width: 441px; width: 441px; min-height: 331px; height: 331px; display: block; }
	#wb_element_instance37 img { width: 431px; height: 321px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance38 { top: 530px; left: 120px; min-width: 440px; width: 440px; min-height: 330px; height: 330px; display: block; }
	#wb_element_instance38 img { width: 430px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance39 { top: 530px; left: 630px; min-width: 441px; width: 441px; min-height: 333px; height: 333px; display: block; overflow: hidden; }
	#wb_element_instance39 img { width: 431px; height: 331px; display: block; cursor: pointer; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance40 { top: 870px; left: 120px; min-width: 440px; width: 440px; min-height: 330px; height: 330px; display: block; }
	#wb_element_instance40 img { width: 430px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance41 { top: 870px; left: 630px; min-width: 441px; width: 441px; min-height: 331px; height: 331px; display: block; }
	#wb_element_instance41 img { width: 431px; height: 321px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance42 { top: 1210px; left: 120px; min-width: 440px; width: 440px; min-height: 330px; height: 330px; display: block; }
	#wb_element_instance42 img { width: 430px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance43 { top: 1210px; left: 630px; min-width: 440px; width: 440px; min-height: 330px; height: 330px; display: block; }
	#wb_element_instance43 img { width: 430px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance44 { top: 1560px; left: 380px; min-width: 440px; width: 440px; min-height: 330px; height: 330px; display: block; }
	#wb_element_instance44 img { width: 430px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance45 { top: 20px; left: 0px; display: block; }
}

@media (max-width: 767px) {
}
